@import 'utilities.css';

:root{
    --primary:#3DCFD3;
    --dark:black;
    --dark2:#323333;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#606060;
}
body{
    font-family: 'Poppins',sans-serif;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}
html{
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 3px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: red;
}

.loader {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
  }
  
  .loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  
  .loader-line-wrap {
    animation: 
    spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
  ;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
  }
  .loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
  .loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
  .loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
  .loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
  .loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
  .loader-line-wrap:nth-child(5) { animation-delay: -250ms; }
  
  .loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
  }
  .loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
  }
  .loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
  }
  .loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
  }
  .loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
  }
  
  @keyframes spin {
    0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
  }
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background:transparent;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
#myBtn img{
    width: 30px;
    height: 30px;
}
header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
@media(min-width:576px){
    .container{
        max-width: 548px;
    }
}
@media(min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media(min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media(min-width:1200px){
    .container{
        max-width: 1152px;
    }
}
  #navbar__logo {
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: 100%;
    font-family: 'Chela One', cursive;
    font-weight: 600;
    background-clip: border-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    /* color:var(--primary); */
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
header nav{
    padding: 2rem 0;
}
header nav .branding{
    margin-right: 3 rem;
}



#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
  }
  #navbar::before{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .menu{
      position: relative;
      top: 20px;
      left: 20px;
  }
  .menu .material-icons{
    font-size: 40px;
    color: black;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 5px;
    position: fixed;
  }
  @media(max-width:500px){
    .menu .material-icons{
      font-size: 30px;
      color: black;
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 5px;
    }
  }
  
  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: black;
      overflow-x: hidden;
      transition: 0.4s;
      padding: 4rem 0;
      text-align: center;
    }
    .sidenav a {
        padding: .5rem 0;
      text-decoration: none;
      font-size: 30px;
      color: #f1f1f1;
      display: block;
      transition: 0.2s;
      text-decoration: none;
      text-align: center;
    }
    
    .profimg img{
      height: 160px;
      width: 160px;
      border-radius: 100%;
      background-color: white;
      margin-bottom: 20px;
  }
    .sidenav a:hover {
      color:grey;
      cursor: pointer;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
    }
    @media (min-width:1024px){
        #navbar{
            display: none;
        }
    }



.hero{
    padding: 3rem 0;
}
.hero .left img{
    width: 360px;
}
.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.6rem;
    /* color: var(--primary); */
    margin-bottom: 0.5rem;
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.hero .right h1{
    font-size: 3.2rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
    margin-top: -1.8rem;
}
.hero .right{
    margin-top: -7rem;
}


section{
    padding: 6rem 0;
}
section.about .about-me-img{
    height: 450px;
    border-radius: 20px;
}
section .about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section .about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;
}
section.about .social a:hover{
    background: var(--primary);
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.section-heading{
    color: var(--dark);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading span{
    color: var(--primary);
}
.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato',sans-serif;
    margin-bottom: 5rem;
    text-align: center;
}
section.skills{
    background: var(--dark);
}
section.skills .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}
section.skills .card-wrapper .card{
    background: var(--pure);
    padding: 2rem 2rem;
    position: relative;
    padding-top: 4rem;
    text-align: center;
    transition: all .3s ease;
    border-radius: 15px;
}
section.skills .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translate(-50%);
}
section.skills .card-wrapper .card h2{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.skills .card-wrapper .card p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    line-height: 1.3rem;
}
section.skills .card-wrapper .card:hover{
    /* background: var(--dark2); */
    background-image: radial-gradient(#5433ff, #20bdff, #a5fecb);
}
section.skills .card-wrapper .card:hover h2 ,section.skills .card-wrapper .card:hover p{
    color: var(--pure);
}


section.certifications{
    background: var(--light);
}
section.certifications .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}
section.certifications .card-wrapper .card{
    background: var(--dark);
    padding: 1rem 1rem;
    position: relative;
    padding-top: 4rem;
    text-align: center;
    transition: all .3s ease;
    border-radius: 15px;
}
section.certifications .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translate(-50%);
    height: 110px;
    width: 200px;
    border-radius: 10px;
}
section.certifications .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--pure);
}
section.certifications .card-wrapper .card p{
    font-family: 'Lato',sans-serif;
    color: var(--pure);
    line-height: 1.3rem;
}
section.certifications .card-wrapper .card:hover{
    /* background: var(--pure); */
    background-image: radial-gradient(#5433ff, #20bdff, #a5fecb);
}
section.certifications .card-wrapper .card:hover h2 ,section.certifications .card-wrapper .card:hover p{
    color: var(--dark);
}

site-main-wrapper{
    position: relative;
}

section.projects{
    background-color: var(--light);
}

section.projects .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
section.projects .card-wrapper .card{
    position: relative;
    height: 250px;
}
section.projects .card-wrapper .card .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(61,207,211,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--pure);
    opacity: 0;
    transition: all .3s ease;
    border-radius: 15px;
}
section.projects .card-wrapper .card:hover .overlay{
    opacity: 1;
}

section.projects .card-wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
}
section.projects .card-wrapper .card img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
}
/* footer .footer-logo{
    margin-bottom: 3rem;
    width: 150px;
} */
footer .footer-socials a{
    margin-right: 1rem;
    
}
footer .copyright{
    color: var(--ternary);
}
footer .footer-socials{
    margin-bottom: 3rem;
    margin-right: -1rem;
}

@media (min-width:1024px){
    .mobile-nav{
        display: none;
    }
}
@media (max-width:1024px){
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
    }
    header #main-nav{
        display: none;
    }
    .hero .left img{
        width: 280px;
    }
    .hero{
        padding-top: 10rem;
    }
    .hero .right h1{
        font-size: 2rem;
    }
    .hero .right h6{
        font-size: 1.4rem;
        padding-top: 40px;
    }
    .hero .right p{
        font-size: 1rem;
        line-height: normal;
    }
    .btn{
        margin-bottom: 30px;
        width: 120px;
        text-align: center;
        padding: 1rem 1rem;
    }
    section.about .about-me-img{
        width: 330px;
        height: 330px;
    }
    .container{
        padding: 0 8px;
    }
    section.skills .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.skills .card-wrapper .card img{
        width: 84px;
        height: 90px;
    }
    section.projects .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        padding: 3rem 0;
    }
    footer .footer-socials{
        margin-right: 0;
    }
}
@media(max-width:576px){
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 92%, 0 100%);
    }
    .hero{
        padding: 1.6rem 0rem;
        flex-direction: column;
        padding-top: 2rem;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    section.skills .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.certifications .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .hero .left img{
        width: 350px;
    }
    .hero .right{
        margin-top: -23rem;
    }
    .hero .right p{
        margin-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 800;
        background: #fffc00;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: 100%;
        background-clip: border-box;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    .hero .right h6{
        font-size: 2rem;
        padding-top: 160px;
    }
    .hero .right h1{
        font-size: 2.2rem;
        font-weight: 600;
    }
    .hamburger{
        top: 20px;
        left: 20px;
    }
    .hamburger img{
        width: 20px;
    }
    .btn{
        width: 90px;
        height: 40px;
        padding: .5rem .5rem;
        margin-top: -10px;
    }
    .times img{
        width: 20px;
    }
    section{
        padding: 3rem 0;
    }
    .about .right{
        text-align: center;
    }
    section.about .about-me-img{
        height: 200px;
        width: 200px;
    }
    section.about p{
        font-size: 1.29rem;
        line-height: 1.6;
    }
    section.about .social{
        justify-content: center;
    }
    section.skills .card-wrapper .card img{
        width: 50px;
        height: 58px;
        top: -2.5rem;
    }
    section.skills .card-wrapper .card{
        padding: 1rem 1rem;
        padding-top: 1rem;
    }
    section.skills .card-wrapper{
        grid-row-gap: 4rem;
    }
    section.projects .card-wrapper .card{
        height: 148px;
    }
    .section-heading + p{
        margin-bottom: 6rem;
    }
    footer{
        padding: 2rem 0;
    }
    footer .copyright{
        font-size: .6rem;
    }
}